# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
venv/
.env.*.json

# MySQL dump files
*.sql

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System
.DS_Store
Thumbs.db

# Node (if React frontend is inside)
node_modules/
npm-debug.log
yarn-error.log
build/
